In [8]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/survey-xls/survey.xls

# CROSSTAB: It is used to build a frequency table, also known as a contingency table, which shows the joint distribution of these variables.

In [9]:
import pandas as pd
df = pd.read_excel("/kaggle/input/survey-xls/survey.xls")
df

      Name Nationality     Sex  Age Handedness
0    Kathy         USA  Female   23      Right
1    Linda         USA  Female   18      Right
2    Peter         USA    Male   19      Right
3     John         USA    Male   22       Left
4   Fatima   Bangadesh  Female   31       Left
5    Kadir   Bangadesh    Male   25       Left
6   Dhaval       India    Male   35       Left
7   Sudhir       India    Male   31       Left
8   Parvir       India    Male   37      Right
9      Yan       China  Female   52      Right
10    Juan       China  Female   58       Left
11   Liang       China    Male   43       Left

In [10]:
pd.crosstab(df.Nationality, df.Handedness)

Handedness   Left  Right
Nationality
Bangadesh       2      0
China           2      1
India           2      1
USA             1      3

In [11]:
pd.crosstab(df.Sex, df.Handedness)

Handedness  Left  Right
Sex
Female         2      3
Male           5      2

# To have the total of the frequencey - margins is used

In [15]:
pd.crosstab(df.Nationality, df.Handedness, margins = True)

Handedness   Left  Right  All
Nationality
Bangadesh       2      0    2
China           2      1    3
India           2      1    3
USA             1      3    4
All             7      5   12

In [17]:
pd.crosstab(df.Sex, [df.Handedness, df.Nationality], margins=True)

Handedness       Left                 Right           All
Nationality Bangadesh China India USA China India USA
Sex
Female              1     1     0   0     1     0   2   5
Male                1     1     2   1     0     1   1   7
All                 2     2     2   1     1     1   3  12

In [18]:
pd.crosstab([df.Nationality, df.Sex], df.Handedness, margins=True)

Handedness          Left  Right  All
Nationality Sex
Bangadesh   Female     1      0    1
            Male       1      0    1
China       Female     1      1    2
            Male       1      0    1
India       Male       2      1    3
USA         Female     0      2    2
            Male       1      1    2
All                    7      5   12

In [19]:
pd.crosstab(df.Sex, df.Handedness, margins=True)

Handedness  Left  Right  All
Sex
Female         2      3    5
Male           5      2    7
All            7      5   12

# to get the value in %

In [23]:
pd.crosstab(df.Sex, df.Handedness, margins = True)

Handedness  Left  Right  All
Sex
Female         2      3    5
Male           5      2    7
All            7      5   12

In [24]:
pd.crosstab(df.Sex, df.Handedness, normalize='index')

Handedness      Left     Right
Sex
Female      0.400000  0.600000
Male        0.714286  0.285714

# to get the average age in the data

In [27]:
pd.crosstab(df.Sex, df.Handedness, values=df.Age, aggfunc=np.average )

Handedness  Left  Right
Sex
Female      44.5   31.0
Male        31.2   28.0